<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @categoria_post.nombre %>
</p>

<%= link_to 'Edit', edit_categoria_post_path(@categoria_post) %> |
<%= link_to 'Back', categoria_posts_path %>
