



    <div class="container">
    
    	<div class="row">
    		<div class="col-md-12">
       			<div class="col-md-6">
    				 <form class="form-signin" role="form">
    				 <br><br><br>
				        <h2 class="form-signin-heading">Inicie Sesión</h2>
				        <label for="inputEmail" class="sr-only">Email address</label>
				        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				        <label for="inputPassword" class="sr-only">Password</label>
				        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
				        <div class="checkbox">
				          <label>
				            <input type="checkbox" value="remember-me"> Remember me
				          </label>
				        </div>
				        <button class="btn btn-lg btn-primary btn-block" type="submit">Inicia sesión</button>
				     </form>
    			</div>
    			<div class="col-md-6">
    			<br><br><br>
    				
    				<h1>¿ Primera Vez en Pecademy?</h1>
    				<br>

    			<h2>Empieza ahora mismo ¡Fácil y rapido!</h2>
    			<br>

    			
    			<a class="btn btn-primary" href="/registrar"  type="submit" role="button">Registrar</a>

    			</div>

    		</div>
    	</div>

     

    </div> <!-- /container -->

